.main {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin-bottom: 50px;

    .title{
        color: white;
        font-size: 3rem;
        text-align: center;
        margin-top: 3%;
    }

    .search-widget {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        align-items: center;

        .link-input{
            padding: 5px;
            font-weight: 700;
            box-shadow: 0px 3px 20px #0000006e;
            font-family: sans-serif;
            color: var(--accent-dark-color);
            border-radius: 10px;
            outline: none;
            height: 30px;
            font-size: 1rem;
            display: block;
            width: 50%;
            border-style: none;
            border-bottom: 3px solid var(--accent-color);
            margin-bottom: 10px;
        }
        .link-input::placeholder{
            color: rgba(132, 89, 126, 0.285);
        }
        .link-search-btn{
            padding: 3px;
            border: 1px solid var(--primary-color);
            font-family: sans-serif;
            color: var(--accent-dark-color);
            background: white;
            width: 100px;
            font-weight: 700;
            border-radius: 10px;
            outline: none;
            height: 30px;
            transition: 0.5s;
            box-shadow: 0px 3px 20px #0000006e;

        }
        .link-search-btn:hover{
            color: white;
            background-color: var(--primary-color);
            transform: scale(1.2);
            cursor: pointer;
        }
        
    }

    .comments {
        font-family: sans-serif;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;

        .comment {
            width: 100%;
            border-bottom: solid 1px black;

            .comment-row {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                padding: 10px;


                .user {
                    text-align: center;



                    img {
                        width: 100px;
                        border-radius: 100%;
                        margin-bottom: 5px;
                    }

                    h4 {
                        font-size: 0.8rem;
                        margin: 0;
                        margin-top: 5px;
                        color: rgba(0, 0, 0, 0.345);
                    }
                }

                h3 {
                    font-size: 15px;
                    font-weight: 400;
                    width: 75%;
                    color: black;

                }

            }
        }
    }
}
