<div class="main">
    <h1 class="title">Enter your post link</h1>
    <div class="search-widget">
        <input class="link-input" type="text" [(ngModel)]="postURL" placeholder="https://www.instagram.com/p/CuknagMyW0A/">
        <button class="link-search-btn" (click)="searchPost()">Search post</button>
        <!-- {{postURL | json}}
        {{resp | json}} -->
    </div>

    <!-- <div class="comments" *ngIf="comments && comments.length>0">
        <div class="comment" *ngFor="let comment of comments">
            <div class="comment-row">
                <div class="user">
                    <img [src]="comment.userPic">
                    <h4>{{comment.userName}}</h4>
                </div>
                <h3>{{comment.text}}</h3>
            </div>
        </div>
    </div>
</div> -->