<header>

</header>

<section class="main">
    <div class="left">
        <div class="text">
            <h1 class="big-title">Create your Giveaways <strong>NOW!</strong></h1>
            <p>Without signing up - Without any information</p>
        </div>
        <div class="download">
            <img src="../../../../assets/images/desktop-hero-section/google-play-badge.png" alt="Download our app on Google Play"/>
            <h4>Download for Free!</h4>
        </div>
    </div>
    <hr *ngIf="isDesktop">
    <div class="right" *ngIf="isDesktop">
        <article>
            <h2>Key Features:</h2>
            <ul>
                <li>Easily fetch public Instagram posts for your giveaways.</li>
                <li>Retrieve comments from the selected Instagram post with just a click.</li>
                <li>Let our app pick winners for you, completely at random.</li>
                <li>Choose how many lucky winners you want to select for your giveaway.</li>
                <li>Decide if comments should include a specific tag for eligibility.</li>
                <li>Participate hassle-free without any registration or personal information needed.</li>
                <li>Our app is designed with simplicity in mind.</li>
            </ul>
        </article>
    </div>
</section>