.hamburger{
    color: white;
    font-size: 1.4rem;
    position: fixed;
    z-index: 300;
    left: 20px;
    top: 27px;
    transition: 1s;
    i{
      text-shadow: 4px 8px 9px black;
    }
}
.hamburger:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.main {
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    // position: absolute;
    top: 0;
    background: var(--accent-color);
    z-index: 200;
    animation: slide-left linear 1s;
    transition: 1s;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .items-list {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    align-items: center;
    content: reverse;
    width: 100%;
    margin-right: 2%;
    gap: 40px;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
  
    li {
      transition: 0.5s;
    }
  
    li:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  
  @keyframes slide-left {
    from {
      left: -500px;
      opacity: 0;
    }
    to {
      left: 0px;
      opacity: 1;
    }
  }

  