.main {
    display: flex;
    width: 100%;
    // position: fixed;
    // top: 0;
    background: var(--accent-color);
    z-index: 200;

    .items-list {
        display: flex;
        flex-direction: row-reverse;
        color: white;
        align-items: center;
        content: reverse;
        width: 100%;
        margin-right: 2%;
        gap: 40px;
        text-decoration: none;
        list-style-type: none;
        justify-content: center;

        li {
            transition: 0.5s;
        }

        li:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}